.nav-box {
    .nav-main {
        // margin-top: 20px;
        height: 80px;

        .main-header {
            font-size: 50px;
            color: azure;
            font-family: montserrat;
        }

        .homebox {
            width:80px;
            .home-btn {
                background: transparent;
                outline: none;
                border-width: 0px;
                font-size: 50px;
                cursor: pointer;

                &:active {
                    font-size: 60px;
                }
            }
        }

    }
}