.travel-list {
    width: 650px;
    height: 900px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 12px;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
        background:$clr4;
    }

    &::-webkit-scrollbar-thumb {
        background: $clr3;
        border-radius: 20px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {

        background: $clr3;
    }
}