// Colors
$clr1: #F0F2F5;
$clr2: #FFFFFF;
$clr3:#184d47;
$clr4: #96bb7c;
$clr5:#d6efc7;
$clr6:#eebb4d;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
// header height
$navHeight: 4.5rem;
